
.navbar-brand {
    margin-left: 5%;
}

.navbar-text {
    margin-left: 100px;
}

header {
    padding-bottom: 5%;
}

#content{
    margin-left: 5%;
    margin-right: 5%;
}

#commentForm {
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 15%;
}


.card {
    margin-bottom: 0.1%;
    margin-top: 0.6%;
    margin-left: 10%;
    margin-right: 16%;
    
}
